
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'gothic';
  src: url('./assests/gothic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roadway';
  src: url('./assests/roadway.otf') format ('opentype');
  font-weight: normal;
  font-style: normal;
}

.site-scroll {
  transition: ease-in-out 0.2s;
}